
    
<h1>SRI</h1>
    <nav class="nav">
        <ul>
            <li><a class='nav-link' routerLink="/" routerLinkActive="activo">Home</a></li>
            <li><a class='nav-link' routerLink="/informacion" routerLinkActive="activo">Información</a></li>
            <li><a class='nav-link' routerLink="/formulario" routerLinkActive="activo">Formulario</a></li>
            <li><a class='nav-link' routerLink="/reporte" routerLinkActive="activo">Reporte</a></li>
            <li><a class='nav-link' routerLink="/contacto" routerLinkActive="activo">Contactenos</a></li>
        </ul>
        
        
        
    </nav>