<div class="container">
    Reprote de pago Impuesto renta
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Tipo Gasto</th>
                    <th scope="col">RUC</th>
                    <th scope="col">Valor</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let gasto of gastos">
                    <th scope="row">{{gasto.id}}</th>
                    <td>{{gasto.tipo}}</td>
                    <td>{{gasto.ruc}}</td>
                    <td>{{gasto.valor}}</td>
                    </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">User</th>
                    <th scope="col">Email</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users">
                    <th scope="row">{{user.id}}</th>
                    <td>{{user.name}}</td>
                    <td>{{user.username}}</td>
                    <td>{{user.email}}</td>
                    </tr>
            </tbody>
        </table>
    </div>
</div>
